<template name="rightSide">

	<ion-side-menu side="right">

		<ion-pane>
			<div class="mini-profile">
				<a class="avatar">
					<img src="/crapthings.jpeg" alt="">
				</a>
				<a>[[currentUser.profile.displayName]] <small>@[[currentUser.username]]</small></a>
				<p>
					Total Spent [[currentUser.stats.spent.round(2).format(2)]] USD
				</p>
				<p>
					Days Average [[currentUser.stats.spent / days]] USD
				</p>
			</div>
			<div class="list">
				<a class="item">Profile</a>
				<a class="item" ng-click="signout()">Sign Out</a>
			</div>
		</ion-pane>

	</ion-side-menu>

</template>
