<template name="tabs">

	<ion-tabs class="tabs-icon-only">

		<ion-tab title="Circle" icon="ion-ios7-ionic-outline" ui-sref="menu.tabs.circle">
			<ion-nav-view name="circle"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Explore" icon="ion-ios7-world-outline" ui-sref="menu.tabs.explore">
			<ion-nav-view name="explore"></ion-nav-view>
		</ion-tab>

		<ion-tab title="Camera" icon="ion-ios7-camera">
			<!-- camera -->
		</ion-tab>

		<ion-tab title="Heart" icon="ion-ios7-heart-outline" ui-sref="menu.tabs.heart">
			<ion-nav-view name="heart"></ion-nav-view>
		</ion-tab>

		<ion-tab title="My" icon="ion-ios7-person-outline" ui-sref="menu.tabs.my">
			<ion-nav-view name="my"></ion-nav-view>
		</ion-tab>

	</ion-tabs>

</template>
