<template name="latestNotes">

	<ion-view title="我的笔记 - 最近" hide-back-button="true" has-footer="true">
		<ion-content has-footer="true">

			<ion-nav-buttons side="left">
				<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>

			<ion-nav-buttons side="right">
				<button class="button button-icon icon ion-compose" ng-click="openNoteModal()"></button>
			</ion-nav-buttons>

			<div class="list">
				<div class="item item-divider">置顶</div>
				<a class="item" ng-repeat="note in Notes | filter: { sticky: true} | limitTo: 3" ui-sref="menu.notes.view({ _id: note._id })">[[note.title]]</a>
				<div class="item item-divider">最近</div>
				<div class="card" ng-repeat="note in Notes">
					<div class="item item-divider" ng-show="note.title">[[note.title]]</div>
					<div class="item item-text-wrap">
						<span style="font-size: 11px;" data-livestamp="[[note._createdAt]]">[[note._createdAt]]</span>
						<p>[[note.content]]</p>
					</div>
				</div>
			</div>

		</ion-content>
	</ion-view>

</template>
