<template name="notesTabs">

	<div class="tabs tabs-icon-top">
		<a class="tab-item" ui-sref="menu.notes.latest">
			<i class="icon ion-compose"></i> 最近
		</a>
		<a class="tab-item" ui-sref="menu.notes.important">
			<i class="icon ion-alert"></i> 重要
		</a>
		<a class="tab-item" ui-sref="menu.notes.sticky">
			<i class="icon ion-pin"></i> 置顶
		</a>
	</div>

	<!-- <ion-tabs class="tabs-icon-top">

		<ion-tab title="最近" icon="ion-compose" href="/menu/notes/latest">
			<ion-nav-view name="latest"></ion-nav-view>
		</ion-tab>

		<ion-tab title="重要" icon="ion-alert" href="/menu/notes/important">
			<ion-nav-view name="important"></ion-nav-view>
		</ion-tab>

		<ion-tab title="置顶" icon="ion-pin" href="/menu/notes/sticky">
			<ion-nav-view name="sticky"></ion-nav-view>
		</ion-tab>

	</ion-tabs> -->



</template>
