<template name="intro">

	<ion-slide-box>

		<ion-slide>
			<div class="box blue">
				<h1>this is intro page 1</h1>
			</div>
		</ion-slide>

		<ion-slide>
			<div class="box yellow">
				<h1>this is intro page 2</h1>
			</div>
		</ion-slide>

		<ion-slide>
			<form ng-submit="signin(user)">
				<div class="list">
					<label class="item item-input">
						<input type="text" placeholder="用户名" ng-model="user.username">
					</label>
					<label class="item item-input">
						<input type="password" placeholder="密码" ng-model="user.password">
					</label>
				</div>
				<div class="padding">
					<button class="button button-block button-positive">登录</button>
					<a class="button button-block button-stable" ui-sref="signup">注册</a>
				</div>
			</form>
		</ion-slide>

	</ion-slide-box>

</template>
