<template name="circle">

	<ion-view title="Circle">

		<ion-content>
			<div class="list card" ng-repeat="post in Posts">
				<a class="pic" style="background-image: url('/card.jpg');"></a>
				<div class="item item-avatar">
					<img src="/crapthings.jpeg">
					<h2>[[post.title]]</h2>
					<p>[[post.createdAt]]</p>
				</div>

				<div class="item item-body">
					<p>[[post.content]]</p>
					<p>
						<a href="#" class="subdued">1 Like</a>
						<a href="#" class="subdued">5 Comments</a>
					</p>
				</div>
			</div>
		</ion-content>

	</ion-view>

</template>
